<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yaotouzhong/yaotouzhong0011.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0012.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0013.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0014.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0015.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0016.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0017.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0018.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0019.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0020.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0021.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>1146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0022.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>1146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0023.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0024.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0025.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>heguandonghua_toubao6.png</string>
			<key>realTextureFileName</key>
			<string>heguandonghua_toubao6.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>