
.mui-input-row{
	
/*margin-top: 26px;*/
  
    margin-left: auto;
    margin-right: auto;
    width: 300px;
	
}


.kuan{
	margin-top: 26px;
  
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}


.geetest_popup_box {
	width: 65%;
}

/*¹ã¸æ*/
.adwdiv{
	margin-top: 46px;
}
.adw{
	
	height: 60px;
}
