<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,960},{142,108}}</string>
                <key>offset</key>
                <string>{-15,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,280},{142,108}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,572},{494,386}}</string>
                <key>offset</key>
                <string>{-35,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,129},{494,386}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{520,394}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,92},{520,394}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{568,436}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,50},{568,436}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,462}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{572,462}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1700},{170,186}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,194},{170,186}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1556},{180,182}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,194},{180,182}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{258,200}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,195},{258,200}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{258,200}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,195},{258,200}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1296},{258,200}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,195},{258,200}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1296},{258,200}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,195},{258,200}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{476,432}}</string>
                <key>offset</key>
                <string>{-57,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{476,432}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
            <key>start_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,960},{380,344}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,136},{380,344}}</string>
                <key>sourceSize</key>
                <string>{642,546}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d623978c304745bd889d2063d6ab299d$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
