<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>105_gold_kuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{1052,918},{125,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,44}}</string>
        <key>sourceSize</key>
        <string>{125,44}</string>
      </dict>
      <key>105_im_blank.png</key>
      <dict>
        <key>frame</key>
        <string>{{2034,20},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>105_ludan_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2020,673},{26,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,55}}</string>
        <key>sourceSize</key>
        <string>{26,55}</string>
      </dict>
      <key>105_ludan_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2016,818},{26,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,54}}</string>
        <key>sourceSize</key>
        <string>{26,54}</string>
      </dict>
      <key>105_ludan_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2020,730},{26,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,54}}</string>
        <key>sourceSize</key>
        <string>{26,54}</string>
      </dict>
      <key>105_playerBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,936},{368,299}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{368,299}}</string>
        <key>sourceSize</key>
        <string>{368,299}</string>
      </dict>
      <key>105_result_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,572},{596,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{596,395}}</string>
        <key>sourceSize</key>
        <string>{596,395}</string>
      </dict>
      <key>105_settin_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,514},{666,424}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{666,424}}</string>
        <key>sourceSize</key>
        <string>{666,424}</string>
      </dict>
      <key>105_slider_point.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,1966},{57,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,57}}</string>
        <key>sourceSize</key>
        <string>{57,57}</string>
      </dict>
      <key>bt_apply_0_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,1636},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_apply_0_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,1636},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_apply_0_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,1448},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_cancel_apply_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1636},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_cancel_apply_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1636},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_cancel_apply_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1448},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_cancel_banker_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,1238},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_cancel_banker_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,1238},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_cancel_banker_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,1170},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>bt_score_0_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,1237},{102,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>bt_score_1_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,1345},{100,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,106}}</string>
        <key>sourceSize</key>
        <string>{100,106}</string>
      </dict>
      <key>bt_score_2_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,1342},{100,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,104}}</string>
        <key>sourceSize</key>
        <string>{100,104}</string>
      </dict>
      <key>bt_score_3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,1572},{102,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>bt_score_4_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,1931},{102,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>bt_score_5_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1931},{102,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>bt_score_6_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,1237},{102,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>bt_seat.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,1448},{122,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,122}}</string>
        <key>sourceSize</key>
        <string>{122,122}</string>
      </dict>
      <key>btnChat.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,1880},{82,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,91}}</string>
        <key>sourceSize</key>
        <string>{82,91}</string>
      </dict>
      <key>btnDown.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,1964},{82,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,91}}</string>
        <key>sourceSize</key>
        <string>{82,91}</string>
      </dict>
      <key>btnVoice.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,1880},{82,91}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,91}}</string>
        <key>sourceSize</key>
        <string>{82,91}</string>
      </dict>
      <key>btn_area.png</key>
      <dict>
        <key>frame</key>
        <string>{{2034,20},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>btn_back.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,1306},{128,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,51}}</string>
        <key>sourceSize</key>
        <string>{128,51}</string>
      </dict>
      <key>btn_bank.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,1223},{132,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,49}}</string>
        <key>sourceSize</key>
        <string>{132,49}</string>
      </dict>
      <key>btn_down.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,1349},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>btn_layout.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,748},{186,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,380}}</string>
        <key>sourceSize</key>
        <string>{186,380}</string>
      </dict>
      <key>btn_luandan.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,602},{210,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{210,69}}</string>
        <key>sourceSize</key>
        <string>{210,69}</string>
      </dict>
      <key>btn_myApply.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,1102},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>btn_pull.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1349},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>btn_rule.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,1045},{132,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,59}}</string>
        <key>sourceSize</key>
        <string>{132,59}</string>
      </dict>
      <key>btn_set.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,1168},{132,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,53}}</string>
        <key>sourceSize</key>
        <string>{132,53}</string>
      </dict>
      <key>btn_user.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,1034},{132,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,53}}</string>
        <key>sourceSize</key>
        <string>{132,53}</string>
      </dict>
      <key>btn_zhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,1034},{186,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,66}}</string>
        <key>sourceSize</key>
        <string>{186,66}</string>
      </dict>
      <key>di_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{2015,929},{26,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,25}}</string>
        <key>sourceSize</key>
        <string>{26,25}</string>
      </dict>
      <key>disAbleBtn.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1237},{102,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,106}}</string>
        <key>sourceSize</key>
        <string>{102,106}</string>
      </dict>
      <key>gold_num.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,572},{212,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{212,28}}</string>
        <key>sourceSize</key>
        <string>{212,28}</string>
      </dict>
      <key>head_playerBox.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,1969},{67,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,67}}</string>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
      <key>head_playerMask.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,1964},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>im_ani.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1726},{276,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,170}}</string>
        <key>sourceSize</key>
        <string>{276,170}</string>
      </dict>
      <key>im_banker_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,1968},{55,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,59}}</string>
        <key>sourceSize</key>
        <string>{55,59}</string>
      </dict>
      <key>im_clock_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,1094},{71,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,69}}</string>
        <key>sourceSize</key>
        <string>{71,69}</string>
      </dict>
      <key>im_drop_timeicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2012,1183},{131,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,34}}</string>
        <key>sourceSize</key>
        <string>{131,34}</string>
      </dict>
      <key>im_fly_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2004},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>im_game_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2004},{40,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,40}}</string>
        <key>sourceSize</key>
        <string>{40,40}</string>
      </dict>
      <key>im_jettonbt_effect.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,1218},{125,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,130}}</string>
        <key>sourceSize</key>
        <string>{125,130}</string>
      </dict>
      <key>im_list_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{2029,2},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>im_ludan_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{1230,510}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1230,510}}</string>
        <key>sourceSize</key>
        <string>{1230,510}</string>
      </dict>
      <key>im_sign_pass.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,1306},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,8},{34,34}}</string>
        <key>sourceSize</key>
        <string>{52,50}</string>
      </dict>
      <key>im_sign_right.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,1992},{52,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,50}}</string>
        <key>sourceSize</key>
        <string>{52,50}</string>
      </dict>
      <key>im_zhuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,1968},{55,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,59}}</string>
        <key>sourceSize</key>
        <string>{55,59}</string>
      </dict>
      <key>light_di.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,940},{276,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,170}}</string>
        <key>sourceSize</key>
        <string>{276,170}</string>
      </dict>
      <key>light_shun.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,940},{276,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,170}}</string>
        <key>sourceSize</key>
        <string>{276,170}</string>
      </dict>
      <key>light_tian.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,1448},{276,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{276,170}}</string>
        <key>sourceSize</key>
        <string>{276,170}</string>
      </dict>
      <key>myGoldBox.png</key>
      <dict>
        <key>frame</key>
        <string>{{1052,748},{168,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,44}}</string>
        <key>sourceSize</key>
        <string>{168,44}</string>
      </dict>
      <key>my_Headbox.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,1345},{104,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,101}}</string>
        <key>sourceSize</key>
        <string>{104,101}</string>
      </dict>
      <key>my_head_mask.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,1017},{75,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>notic_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,514},{551,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{551,156}}</string>
        <key>sourceSize</key>
        <string>{551,156}</string>
      </dict>
      <key>playerGold.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,1306},{34,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,33}}</string>
        <key>sourceSize</key>
        <string>{34,33}</string>
      </dict>
      <key>point_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,1736},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,1592},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,1448},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,1274},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,1736},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1592},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1448},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,1274},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,1736},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,1592},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,1448},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,1880},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,1274},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,1736},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,1592},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,1448},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,1736},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,1592},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_41.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,1448},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_49.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,1736},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_50.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,1592},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_51.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,1448},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_52.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,1736},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_53.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,1592},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_54.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,1448},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_55.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,1822},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_56.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,1592},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_57.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,1448},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>point_58.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,1824},{142,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,49}}</string>
        <key>sourceSize</key>
        <string>{142,49}</string>
      </dict>
      <key>set_kuang.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,1237},{122,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{122,122}}</string>
        <key>sourceSize</key>
        <string>{122,122}</string>
      </dict>
      <key>set_mask.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,1736},{84,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,84}}</string>
        <key>sourceSize</key>
        <string>{84,84}</string>
      </dict>
      <key>shangzhuangGold.png</key>
      <dict>
        <key>frame</key>
        <string>{{2017,786},{30,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,28}}</string>
        <key>sourceSize</key>
        <string>{30,28}</string>
      </dict>
      <key>shangzhzuang_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,961},{189,386}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,386}}</string>
        <key>sourceSize</key>
        <string>{189,386}</string>
      </dict>
      <key>shuangzhuang_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{2017,786},{30,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,28}}</string>
        <key>sourceSize</key>
        <string>{30,28}</string>
      </dict>
      <key>shuangzhuang_line.png</key>
      <dict>
        <key>frame</key>
        <string>{{2029,20},{143,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,3}}</string>
        <key>sourceSize</key>
        <string>{143,3}</string>
      </dict>
      <key>shun_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{2016,874},{26,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,26}}</string>
        <key>sourceSize</key>
        <string>{26,26}</string>
      </dict>
      <key>slider_bg_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,672},{429,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,40}}</string>
        <key>sourceSize</key>
        <string>{429,40}</string>
      </dict>
      <key>slider_bg_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,714},{421,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{421,32}}</string>
        <key>sourceSize</key>
        <string>{421,32}</string>
      </dict>
      <key>tian_flag.png</key>
      <dict>
        <key>frame</key>
        <string>{{2016,902},{26,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,25}}</string>
        <key>sourceSize</key>
        <string>{26,25}</string>
      </dict>
      <key>time_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2015,956},{92,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,24}}</string>
        <key>sourceSize</key>
        <string>{92,24}</string>
      </dict>
      <key>ttz_bankBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1234,2},{793,568}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{793,568}}</string>
        <key>sourceSize</key>
        <string>{793,568}</string>
      </dict>
      <key>ttz_btnClose.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,940},{75,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,77}}</string>
        <key>sourceSize</key>
        <string>{75,77}</string>
      </dict>
      <key>ttz_btnTask.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,940},{241,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{241,92}}</string>
        <key>sourceSize</key>
        <string>{241,92}</string>
      </dict>
      <key>ttz_inputBox.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,1969},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>txt_bankInsure.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,1824},{166,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,38}}</string>
        <key>sourceSize</key>
        <string>{166,38}</string>
      </dict>
      <key>txt_banker_null.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,857},{193,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,50}}</string>
        <key>sourceSize</key>
        <string>{193,50}</string>
      </dict>
      <key>txt_banker_selficon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,909},{192,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,50}}</string>
        <key>sourceSize</key>
        <string>{192,50}</string>
      </dict>
      <key>txt_bgm.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,1824},{143,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,38}}</string>
        <key>sourceSize</key>
        <string>{143,38}</string>
      </dict>
      <key>txt_change_banker_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,753},{194,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{194,50}}</string>
        <key>sourceSize</key>
        <string>{194,50}</string>
      </dict>
      <key>txt_continue_sendcard.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,805},{193,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,50}}</string>
        <key>sourceSize</key>
        <string>{193,50}</string>
      </dict>
      <key>txt_free_timeicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2012,1316},{130,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,34}}</string>
        <key>sourceSize</key>
        <string>{130,34}</string>
      </dict>
      <key>txt_game_resortpoker.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,805},{193,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,50}}</string>
        <key>sourceSize</key>
        <string>{193,50}</string>
      </dict>
      <key>txt_gamebgm.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,1824},{143,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,38}}</string>
        <key>sourceSize</key>
        <string>{143,38}</string>
      </dict>
      <key>txt_gold.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,713},{197,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,38}}</string>
        <key>sourceSize</key>
        <string>{197,38}</string>
      </dict>
      <key>txt_haveGold.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,2004},{167,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,38}}</string>
        <key>sourceSize</key>
        <string>{167,38}</string>
      </dict>
      <key>txt_open_timeicon.png</key>
      <dict>
        <key>frame</key>
        <string>{{2012,1050},{131,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,34}}</string>
        <key>sourceSize</key>
        <string>{131,34}</string>
      </dict>
      <key>txt_password.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,673},{197,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,38}}</string>
        <key>sourceSize</key>
        <string>{197,38}</string>
      </dict>
      <key>zhuang_bg.png</key>
      <dict>
        <key>frame</key>
        <string>{{1101,672},{380,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,109}}</string>
        <key>sourceSize</key>
        <string>{380,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>game.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:fa02a7c6beb66c6dac0e06f7d04af156$</string>
      <key>textureFileName</key>
      <string>game.png</string>
    </dict>
  </dict>
</plist>

