<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apply_List_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,224},{104,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,125}}</string>
                <key>sourceSize</key>
                <string>{104,125}</string>
            </dict>
            <key>apply_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,68},{143,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,50}}</string>
                <key>sourceSize</key>
                <string>{143,50}</string>
            </dict>
            <key>apply_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>apply_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>apply_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{124,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,25}}</string>
                <key>sourceSize</key>
                <string>{124,25}</string>
            </dict>
            <key>apply_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{20,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,13}}</string>
                <key>sourceSize</key>
                <string>{20,13}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>dushen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,265},{149,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,178}}</string>
                <key>sourceSize</key>
                <string>{149,178}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,106},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>fanhui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,100},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>fuhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,282},{166,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,222}}</string>
                <key>sourceSize</key>
                <string>{166,222}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,248},{185,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,108}}</string>
                <key>sourceSize</key>
                <string>{185,108}</string>
            </dict>
            <key>headfram.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>jinyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,139},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>jinyin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,100},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,265},{283,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,118}}</string>
                <key>sourceSize</key>
                <string>{283,118}</string>
            </dict>
            <key>ludan_faguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{157,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,433}}</string>
                <key>sourceSize</key>
                <string>{157,433}</string>
            </dict>
            <key>ludan_fangkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,72},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>ludan_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,2},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>ludan_heitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,79},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>ludan_hongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,72},{70,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>ludan_kuangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,665},{894,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{894,532}}</string>
                <key>sourceSize</key>
                <string>{894,532}</string>
            </dict>
            <key>ludan_likuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{862,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{862,390}}</string>
                <key>sourceSize</key>
                <string>{862,390}</string>
            </dict>
            <key>ludan_ludan_chacha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1975,2},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>ludan_meihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,72},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ludan_sheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>ludan_shengfuzoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,20},{183,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,46}}</string>
                <key>sourceSize</key>
                <string>{183,46}</string>
            </dict>
            <key>ludan_shukuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{4,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,367}}</string>
                <key>sourceSize</key>
                <string>{4,367}</string>
            </dict>
            <key>ludan_zuixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,2},{72,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,40}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>m_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,171},{760,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,92}}</string>
                <key>sourceSize</key>
                <string>{760,92}</string>
            </dict>
            <key>please_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,2},{113,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,41}}</string>
                <key>sourceSize</key>
                <string>{113,41}</string>
            </dict>
            <key>quxiaoshenq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,211},{124,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>quxiaoshenq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,172},{124,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,94}</string>
            </dict>
            <key>renshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,8},{99,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,48}}</string>
                <key>sourceSize</key>
                <string>{99,48}</string>
            </dict>
            <key>rule_jiugongge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,265},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>rule_paixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>rule_shuoming9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,91},{494,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,78}}</string>
                <key>sourceSize</key>
                <string>{494,78}</string>
            </dict>
            <key>shagnzhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,152},{124,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,94}</string>
            </dict>
            <key>shang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,36},{214,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,41}}</string>
                <key>sourceSize</key>
                <string>{214,41}</string>
            </dict>
            <key>shang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,29},{212,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,41}}</string>
                <key>sourceSize</key>
                <string>{212,41}</string>
            </dict>
            <key>shang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{212,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,41}}</string>
                <key>sourceSize</key>
                <string>{212,41}</string>
            </dict>
            <key>shang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{214,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,41}}</string>
                <key>sourceSize</key>
                <string>{214,41}</string>
            </dict>
            <key>shangzhuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,199},{124,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>sit_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>sit_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>sit_rank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>sit_rank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>sit_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>touxiangkuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,253},{117,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,142}}</string>
                <key>sourceSize</key>
                <string>{117,142}</string>
            </dict>
            <key>touxiankuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,265},{117,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,163}}</string>
                <key>sourceSize</key>
                <string>{117,163}</string>
            </dict>
            <key>tuichupaiduizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,58},{70,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,54}}</string>
                <key>sourceSize</key>
                <string>{70,54}</string>
            </dict>
            <key>tuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>tuoguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,91},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>tuoguanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1625,91},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>tuoguanzhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,102},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>ulist_NO.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>ulist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1199},{1021,665}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,665}}</string>
                <key>sourceSize</key>
                <string>{1021,665}</string>
            </dict>
            <key>ulist_ds.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,79},{102,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,76}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>ulist_ds_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{997,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{997,119}}</string>
                <key>sourceSize</key>
                <string>{997,119}</string>
            </dict>
            <key>ulist_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{69,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,38}}</string>
                <key>sourceSize</key>
                <string>{69,38}</string>
            </dict>
            <key>ulist_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,68},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ulist_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>ulist_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,157},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ulist_hg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,53},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>ulist_hg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,49},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>ulist_hg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,47},{61,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,51}}</string>
                <key>sourceSize</key>
                <string>{61,51}</string>
            </dict>
            <key>ulist_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,416},{997,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{997,119}}</string>
                <key>sourceSize</key>
                <string>{997,119}</string>
            </dict>
            <key>ulist_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{204,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,24}}</string>
                <key>sourceSize</key>
                <string>{204,24}</string>
            </dict>
            <key>ulist_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{194,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,47}}</string>
                <key>sourceSize</key>
                <string>{194,47}</string>
            </dict>
            <key>ulist_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,2},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>ulist_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{60,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,38}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,126},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>wenhao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,88},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>xia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,45},{227,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,44}}</string>
                <key>sourceSize</key>
                <string>{227,44}</string>
            </dict>
            <key>xia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,45},{223,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,44}}</string>
                <key>sourceSize</key>
                <string>{223,44}</string>
            </dict>
            <key>xia3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,44},{223,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,44}}</string>
                <key>sourceSize</key>
                <string>{223,44}</string>
            </dict>
            <key>xia4.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,42},{227,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,44}}</string>
                <key>sourceSize</key>
                <string>{227,44}</string>
            </dict>
            <key>xiazhuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,191},{124,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,102}}</string>
                <key>sourceSize</key>
                <string>{124,102}</string>
            </dict>
            <key>xiazhuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,144},{124,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,94}}</string>
                <key>sourceSize</key>
                <string>{124,94}</string>
            </dict>
            <key>xiuxiyixia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,2},{143,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,40}}</string>
                <key>sourceSize</key>
                <string>{143,40}</string>
            </dict>
            <key>yinliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,120},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>yinliang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,88},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>yizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,450},{213,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,262}}</string>
                <key>sourceSize</key>
                <string>{213,262}</string>
            </dict>
            <key>zaixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,181},{104,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,99}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{50,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,43}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>zoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,114},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>zoushi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,88},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>zuobian.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,265},{283,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,118}}</string>
                <key>sourceSize</key>
                <string>{283,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oxbattle_game.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e075c2742f11ac7f938517f0471f11e$</string>
            <key>textureFileName</key>
            <string>oxbattle_game.png</string>
        </dict>
    </dict>
</plist>
