<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,256},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>addChar.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,937},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>aword_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,685},{512,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,290}}</string>
                <key>sourceSize</key>
                <string>{512,290}</string>
            </dict>
            <key>aword_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{494,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,280}}</string>
                <key>sourceSize</key>
                <string>{494,280}</string>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{215,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,84}}</string>
                <key>sourceSize</key>
                <string>{215,84}</string>
            </dict>
            <key>btnClose_sg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,82},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>btnShare_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,937},{215,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,84}}</string>
                <key>sourceSize</key>
                <string>{215,84}</string>
            </dict>
            <key>btn_lucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,432},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>game_chat_lbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,977},{240,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,41}}</string>
                <key>sourceSize</key>
                <string>{240,41}</string>
            </dict>
            <key>game_chat_rbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{238,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,39}}</string>
                <key>sourceSize</key>
                <string>{238,39}</string>
            </dict>
            <key>jb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{591,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,83}}</string>
                <key>sourceSize</key>
                <string>{591,83}</string>
            </dict>
            <key>luck_getGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{327,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,42}}</string>
                <key>sourceSize</key>
                <string>{327,42}</string>
            </dict>
            <key>luck_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,977},{81,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,42}}</string>
                <key>sourceSize</key>
                <string>{81,42}</string>
            </dict>
            <key>luck_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,434},{153,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{153,73}</string>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,203},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>prompter.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,466},{126,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,69}}</string>
                <key>sourceSize</key>
                <string>{126,69}</string>
            </dict>
            <key>reduceChar.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,964},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,10}}</string>
                <key>sourceSize</key>
                <string>{24,10}</string>
            </dict>
            <key>sg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,205},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,666},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,678},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,205},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,205},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,205},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{201,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,76}}</string>
                <key>sourceSize</key>
                <string>{201,76}</string>
            </dict>
            <key>sg_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,977},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>sg_btnAdd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,408},{148,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,87}}</string>
                <key>sourceSize</key>
                <string>{148,87}</string>
            </dict>
            <key>sg_btnAdd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,589},{149,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,87}}</string>
                <key>sourceSize</key>
                <string>{149,87}</string>
            </dict>
            <key>sg_btnAdd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,558},{148,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,87}}</string>
                <key>sourceSize</key>
                <string>{148,87}</string>
            </dict>
            <key>sg_btnAdd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,929},{148,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,87}}</string>
                <key>sourceSize</key>
                <string>{148,87}</string>
            </dict>
            <key>sg_btnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,342},{127,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,51}}</string>
                <key>sourceSize</key>
                <string>{127,51}</string>
            </dict>
            <key>sg_btnCall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,408},{148,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,87}}</string>
                <key>sourceSize</key>
                <string>{148,87}</string>
            </dict>
            <key>sg_btnCall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,595},{149,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,87}}</string>
                <key>sourceSize</key>
                <string>{149,87}</string>
            </dict>
            <key>sg_btnCall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,408},{148,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,87}}</string>
                <key>sourceSize</key>
                <string>{148,87}</string>
            </dict>
            <key>sg_btnCall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,408},{148,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,87}}</string>
                <key>sourceSize</key>
                <string>{148,87}</string>
            </dict>
            <key>sg_btnChangeDesk.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,219},{213,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,89}}</string>
                <key>sourceSize</key>
                <string>{213,89}</string>
            </dict>
            <key>sg_btnChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,498},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>sg_btnNoRob.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,594},{213,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,89}}</string>
                <key>sourceSize</key>
                <string>{213,89}</string>
            </dict>
            <key>sg_btnPull.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,498},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>sg_btnReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,977},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>sg_btnRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,869},{130,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,58}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
            <key>sg_btnSetting.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,881},{132,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,53}}</string>
                <key>sourceSize</key>
                <string>{132,53}</string>
            </dict>
            <key>sg_btnVoice.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,498},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>sg_btnZhunBei.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,594},{213,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,89}}</string>
                <key>sourceSize</key>
                <string>{213,89}</string>
            </dict>
            <key>sg_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,161},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>sg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,936},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>sg_downLayout.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,685},{186,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,250}}</string>
                <key>sourceSize</key>
                <string>{186,250}</string>
            </dict>
            <key>sg_flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,493},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>sg_headMask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>sg_leftBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,558},{106,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,34}}</string>
                <key>sourceSize</key>
                <string>{106,34}</string>
            </dict>
            <key>sg_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{681,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,42}}</string>
                <key>sourceSize</key>
                <string>{681,42}</string>
            </dict>
            <key>sg_offlinePic.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,242},{57,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,32}}</string>
                <key>sourceSize</key>
                <string>{57,32}</string>
            </dict>
            <key>sg_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,205},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>sg_personInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,242},{222,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{222,82}}</string>
                <key>sourceSize</key>
                <string>{228,86}</string>
            </dict>
            <key>sg_qiangzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,977},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>sg_rigthBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,558},{106,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,34}}</string>
                <key>sourceSize</key>
                <string>{106,34}</string>
            </dict>
            <key>sg_tipsBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{681,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,40}}</string>
                <key>sourceSize</key>
                <string>{681,40}</string>
            </dict>
            <key>slide_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,977},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{428,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,15}}</string>
                <key>sourceSize</key>
                <string>{428,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameLayer.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d5b04b093cd0b85a1b38121018e4e7$</string>
            <key>textureFileName</key>
            <string>gameLayer.png</string>
        </dict>
    </dict>
</plist>
