<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yaotouzhong/yaotouzhong0026.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yaotouzhong/yaotouzhong0027.png</key>
			<dict>
				<key>width</key>
				<integer>610</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>610</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>612</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0001.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0002.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0003.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0004.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1244</integer>
				<key>y</key>
				<integer>382</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0005.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0006.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0007.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1244</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0008.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0009.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>1146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0010.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1244</integer>
				<key>y</key>
				<integer>1146</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0011.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0012.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>622</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>qiaoshouzhi/qiaoshouzhi0013.png</key>
			<dict>
				<key>width</key>
				<integer>620</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>620</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1244</integer>
				<key>y</key>
				<integer>1528</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>heguandonghua_toubao7.png</string>
			<key>realTextureFileName</key>
			<string>heguandonghua_toubao7.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>