<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>color_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,768},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>color_diamon.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,840},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>color_heat.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,896},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>color_spade.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,694},{72,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,76}}</string>
                <key>sourceSize</key>
                <string>{72,76}</string>
            </dict>
            <key>poker_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,105},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>poker_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,56},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
            <key>poker_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,967},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>poker_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,961},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>poker_1111_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,730},{136,186}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{142,186}</string>
            </dict>
            <key>poker_1112_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,556},{136,186}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{142,186}</string>
            </dict>
            <key>poker_1113_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{136,186}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{142,186}</string>
            </dict>
            <key>poker_1114_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,708},{136,186}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,186}}</string>
                <key>sourceSize</key>
                <string>{142,186}</string>
            </dict>
            <key>poker_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,935},{24,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,53}}</string>
                <key>sourceSize</key>
                <string>{24,53}</string>
            </dict>
            <key>poker_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,967},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>poker_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,212},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>poker_1211_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{124,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,188}}</string>
                <key>sourceSize</key>
                <string>{124,190}</string>
            </dict>
            <key>poker_1212_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,516},{124,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,190}}</string>
                <key>sourceSize</key>
                <string>{124,190}</string>
            </dict>
            <key>poker_1213_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{124,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{124,188}}</string>
                <key>sourceSize</key>
                <string>{124,190}</string>
            </dict>
            <key>poker_1214_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,430},{124,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,190}}</string>
                <key>sourceSize</key>
                <string>{124,190}</string>
            </dict>
            <key>poker_122.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,184},{26,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,61}}</string>
                <key>sourceSize</key>
                <string>{26,61}</string>
            </dict>
            <key>poker_131.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,935},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>poker_1311_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{124,190}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{124,190}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>poker_1312_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,324},{124,190}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{124,190}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>poker_1313_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,304},{124,190}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{124,190}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>poker_1314_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{124,192}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{124,192}}</string>
                <key>sourceSize</key>
                <string>{130,192}</string>
            </dict>
            <key>poker_132.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,935},{30,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,53}}</string>
                <key>sourceSize</key>
                <string>{30,53}</string>
            </dict>
            <key>poker_141_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{138,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,190}}</string>
                <key>sourceSize</key>
                <string>{138,190}</string>
            </dict>
            <key>poker_142_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,164},{138,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,190}}</string>
                <key>sourceSize</key>
                <string>{138,190}</string>
            </dict>
            <key>poker_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,29},{25,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,57}}</string>
                <key>sourceSize</key>
                <string>{25,57}</string>
            </dict>
            <key>poker_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{25,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,57}}</string>
                <key>sourceSize</key>
                <string>{25,57}</string>
            </dict>
            <key>poker_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,248},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>poker_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,240},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>poker_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,220},{26,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>poker_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,154},{28,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{28,56}</string>
            </dict>
            <key>poker_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,822},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,765},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,708},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,296},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,967},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>poker_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,879},{26,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,54}}</string>
                <key>sourceSize</key>
                <string>{26,54}</string>
            </dict>
            <key>poker_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,276},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,268},{26,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,55}}</string>
                <key>sourceSize</key>
                <string>{26,55}</string>
            </dict>
            <key>poker_91.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,192},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>poker_92.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,164},{26,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{26,56}</string>
            </dict>
            <key>poker_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
            <key>poker_mfk.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,972},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>poker_mht.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,972},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>poker_mhx.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,972},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,36}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>poker_myh.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,694},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>poker_zmbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,222}}</string>
                <key>sourceSize</key>
                <string>{160,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90bcd8018c606b7773cbfbd2b5158d1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
