<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00001.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00000.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00002.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00003.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>348</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00004.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>464</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00005.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>580</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00006.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>696</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00007.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>812</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00008.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shangcheng/shangchang_00009.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0003.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0005.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>534</integer>
				<key>y</key>
				<integer>58</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0007.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0009.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0011.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0013.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0015.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0017.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0019.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0021.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/shuaxiaoguang/shuaxiaoguang0023.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>604</integer>
				<key>y</key>
				<integer>182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/jiantou.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>27</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>906</integer>
				<key>y</key>
				<integer>182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuaisuchongzhi/anniu.png</key>
			<dict>
				<key>width</key>
				<integer>361</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>361</integer>
				<key>originalHeight</key>
				<integer>105</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>218</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>datingdonghua_kuaisuchongzhi0.png</string>
			<key>realTextureFileName</key>
			<string>datingdonghua_kuaisuchongzhi0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>