<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>btnClose_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,390},{70,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>btnClose_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,318},{70,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>result_add.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,163},{24,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,25}}</string>
        <key>sourceSize</key>
        <string>{24,25}</string>
      </dict>
      <key>result_reduce.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,2},{24,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,10}}</string>
        <key>sourceSize</key>
        <string>{24,10}</string>
      </dict>
      <key>sg_BigResultBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{1145,732}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1145,732}}</string>
        <key>sourceSize</key>
        <string>{1145,732}</string>
      </dict>
      <key>sg_Icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,163},{80,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,76}}</string>
        <key>sourceSize</key>
        <string>{80,76}</string>
      </dict>
      <key>sg_Person_box.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,241},{76,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,75}}</string>
        <key>sourceSize</key>
        <string>{76,75}</string>
      </dict>
      <key>sg_ResultPeron.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,163},{343,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{343,144}}</string>
        <key>sourceSize</key>
        <string>{343,144}</string>
      </dict>
      <key>sg_btnBack.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,82},{266,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,79}}</string>
        <key>sourceSize</key>
        <string>{266,79}</string>
      </dict>
      <key>sg_btnLeave.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,2},{271,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{271,78}}</string>
        <key>sourceSize</key>
        <string>{271,78}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>SGBigResult.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:c6f10b8d9a2b7c6a5961dcc234fb5b8b$</string>
      <key>textureFileName</key>
      <string>SGBigResult.png</string>
    </dict>
  </dict>
</plist>

