<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>btnClose_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,217},{70,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>btnClose_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,160},{70,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>sg_baseScore.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,74},{70,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,38}}</string>
        <key>sourceSize</key>
        <string>{70,38}</string>
      </dict>
      <key>sg_btnContinue_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,81},{211,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,77}}</string>
        <key>sourceSize</key>
        <string>{211,77}</string>
      </dict>
      <key>sg_btnContinue_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,2},{211,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,77}}</string>
        <key>sourceSize</key>
        <string>{211,77}</string>
      </dict>
      <key>sg_cardType.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,2},{70,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,38}}</string>
        <key>sourceSize</key>
        <string>{70,38}</string>
      </dict>
      <key>sg_nickname.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,146},{69,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,38}}</string>
        <key>sourceSize</key>
        <string>{69,38}</string>
      </dict>
      <key>sg_samllBg.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{1303,737}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1303,737}}</string>
        <key>sourceSize</key>
        <string>{1303,737}</string>
      </dict>
      <key>sg_samllResultItem.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,160},{579,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{579,75}}</string>
        <key>sourceSize</key>
        <string>{579,75}</string>
      </dict>
      <key>sg_score.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,160},{70,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,37}}</string>
        <key>sourceSize</key>
        <string>{70,37}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>SGSamllResult.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:9b57fdbc14407f020de25c0c74d3f942$</string>
      <key>textureFileName</key>
      <string>SGSamllResult.png</string>
    </dict>
  </dict>
</plist>

